/** CSS RESETS **/
*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: roboto;
    font-size: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 12px;
}

img{
    width: 100%;
    display: block;
}

h1,h2,h3,h4,h5{
    padding: 0;
    margin: 0;
}

/** TYPOGRAPHY  **/

a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: 700;
    transition: all 300ms ease-in-out;
}

a:hover{
    color: #3882f6;
}

p{
    padding: 0;
    margin: 0;
}

.logo{
    font-size: 24px;
    color: inherit;
}

.logo span{
    color: #3882f6;
}

.hero-main-txt{
    font-size: 48px;
    font-weight: 900;
}

.hero-sec-txt{
    font-size: 18px;
    color: #e5e7eb; 
}

button{
  color: inherit;
  font-size: 18px;
  font-weight: 700;  
}

/** LAYOUT **/
body{
    display: flex;
    flex-direction: column;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 16px;
}

header, main, footer{
    flex: 1;
}

header{
    color: #f9f8fa;
    background-color: #1f2937;
    padding-bottom: 100px; 
}

/* nav section */

nav{
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    position: fixed;
    top: 0;

    border: 1px solid red;
}


/* hero section */
.hero {
    display: flex;
    gap: 16px;
    margin-top: 60px;
}


.h-text-section, 
.h-image-section{
    flex: 1 1 auto; 
}

.h-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-sec-txt{
    margin-bottom: 20px;
    font-size: inherit;
}

button{
    background-color: #3882f6;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 8px 16px;
    cursor: pointer;
}

/** SERVICES SECTION **/
.info-section{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 100px;
}

.info-section h3{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 60px;
}

.cards-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: inherit;

}

.card{
    width: 250px;
    height: 250px;
}


.card img{
    height: 70%;
    margin-bottom: 20px;
}

/** QUOTE SECTION * */

.quote-section{
    background-color: #e5e7eb;
    padding-top: 20px;
}

.quote-section div{
    width: 75%;
    margin: 0 auto;
    padding: 60px 60px;
}

.quote-txt{
    width: 75%;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
  
}

.cite{
    text-align: right;
    font-size: 20px;
    font-weight: 900;
}

/** CTA SECTION **/
.cta-section{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 10px;
    margin: 100px auto;
}


.cta-center{
    width: 70%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cta-txt{
    flex: 2;
}

.cta-title{
    font-weight: 700;
    font-size: 30px;
}


.cta-button button{
    border: 1px solid #f9f8fa;
    padding: 8px 40px;
    transition: all 150ms ease-in;
} 

.cta-button button:hover{
    background-color: #1f2937;
}


/** FOOTER SECTION **/

footer{
    background-color: #1f2937;
    color: #f9f8fa;
    text-align: center;
    padding: 16px;
}
